


body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  

  margin: auto;
}

.btn {
  
  margin: 25px;
  display: inline-block;
  margin: 20px;
  height: clamp(100px, 250px, 350px);
  width: clamp(100px, 250px, 350px);
  border: 10px solid black;
  border-radius: 25%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}
.hidden{
  display: none !important;
}
.incorrect{
  color: red !important;
}
.correct{
  color:greenyellow !important; 
}.neutral{
  color: black !important;
}

#start{
  background-color:#007bff;

  padding: 20px 65px;

  margin: auto;
  margin-top: 50px;
  margin-bottom: 5%;
  justify-content: center;

  font-family: 'Press Start 2P', cursive;
  font-size: 2.5rem;
  text-align: center;
}
